.modal {
  z-index: 999999;
  background-color: #30303030;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  &__content{
    background-color: #eaeaeaf0;
    padding: 30px;
    border-radius: 30px;
  }
}