$width: 230px;
$padding: 10px;
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f1f1f;
  color: #d3d3da;
  width: $width;
  height: 100vh;
  padding: 100px $padding 0 $padding;
  transition: left 0.05s ease-in;
  z-index: 999;

  &__content {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      list-style: none;
      display: inline-block;
      margin: 5px 0;
    }
  }

  &--hidden{
    left: -$width - $padding*2;
  }
}